/* Style for homepage */

.bg-img 
{
	position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-attachment: fixed;
	background-image: url(../images/background.jpg);
}

.bg-img .overlay
{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #1C1D21;
}

.top-buffer
{
	margin-top: 30%;
}

